#news_index
  max-width: 75rem

  & > a
    @extend .d-block
    @extend .text-dark
    @extend .px-xl-5
    @extend .px-3
    @extend .py-2
    @extend .border
    @extend .border-left-0
    @extend .border-right-0
    @extend .border-bottom-0

    & > article

      & > .news-title
        @extend h4
        @extend .mb-2
      
      & > .news-description
        font-size: .9em
        line-height: 1.1em

      & > .news-date
        font-size: .9em