---
title: イベント
description: 翠巒祭で行われるイベントです。屋外のイベントステージや体育館などで、休みなしに様々なイベントが開催されています。お客様を飽きさせることはありません！
layout: event-index
query:
---
h2.h3 人気
div.d-flex.flex-wrap.justify-content-around.mt-3
  a(href="indexes/keyword/ミスコン/").btn.btn-outline-danger.flex-fill.m-1
    | ミス高高コンテスト
  a(href="gym/ss/").btn.btn-outline-info.flex-fill.m-1
    | SUIRAN STATION
  a(href="indexes/keyword/翠巒音楽祭/").btn.btn-outline-secondary.flex-fill.m-1
    | 翠巒音楽祭 (音楽部活動発表)
  a(href="indexes/keyword/定例リーダー公開祭/").btn.btn-outline-dark.flex-fill.m-1
    | 應援部 定例リーダー公開祭
hr
h2.h3 場所
div.d-flex.flex-wrap.justify-content-around.mt-3
  a(href="stage/").btn.btn-outline-info.flex-fill.m-1
    | イベントステージ (屋外)
  a(href="gym/").btn.btn-outline-secondary.flex-fill.m-1
    | 体育館行事 (第一体育館)
  a(href="hall/").btn.btn-outline-primary.flex-fill.m-1
    | 翠巒会館
:md
  ## すべてのイベント一覧 