- const is_subcall = true
block _script
  include ../includes/_script.pug
block _mixin
  include ../includes/_mixins.pug

block body
  .sf-sidebar
    a(href="/").sf-sidebar-item Top
    a(href="/classroom/").sf-sidebar-item 一般展示
    a(href="/events/").sf-sidebar-item-parent イベント
    .sf-sidebar-item-children-wrap
      a(href="/events/stage/").sf-sidebar-item-child イベントステージ
      a(href="/events/gym/").sf-sidebar-item-child 体育館行事
      a(href="/events/courtyard/").sf-sidebar-item-child 中庭
    a(href="/foods/").sf-sidebar-item-parent 食べ物
    .sf-sidebar-item-children-wrap
      a(href="/foods/stalls/").sf-sidebar-item-child 模擬店
      a(href="/foods/cafeteria/").sf-sidebar-item-child 喫茶
      a(href="/foods/restaurant/").sf-sidebar-item-child 食堂

  button(type="button").sidebar_closer.btn.btn-outline-secondary.btn-block.d-lg-none 閉じる