- const is_subcall = true
block _script
  include ../includes/_script.pug
block _mixin
  include ../includes/_mixins.pug

block body
  .sf-sidebar
    .sf-sidebar-top.text-white.font-weight-light
      | 群馬県立高崎高校文化祭 翠巒祭
      br
      | 2018/06/02 - 03

    a(href="/").sf-sidebar-item #[+fa_fw('chevron-right')] Top
    a(href="/transportation/").sf-sidebar-item #[+fa_fw('chevron-right')] バス#[small など 来場方法]
    a(href="/classroom/").sf-sidebar-item #[+fa_fw('chevron-right')] 一般展示
    a(href="/events/").sf-sidebar-item-parent #[+fa_fw('chevron-right')] イベント
    .sf-sidebar-item-children-wrap
      .d-flex.flex-wrap
        a(href="/events/stage/").sf-sidebar-item-child.flex-auto ・ イベントステージ
        a(href="/events/gym/").sf-sidebar-item-child.flex-auto ・ 体育館行事
        a(href="/events/hall/").sf-sidebar-item-child.flex-auto ・ 翠巒会館
        a(href="/events/courtyard/").sf-sidebar-item-child.flex-auto ・ 中庭
      .d-flex.flex-wrap.border.border-right-0.border-bottom-0.border-left-0
        a(href="/events/indexes/keyword/").sf-sidebar-item-child.flex-auto
          +fa_fw('tags')
          | キーワード
        a(href="/events/indexes/player/").sf-sidebar-item-child.flex-auto
          +fa_fw('user')
          | 出演者
    a(href="/foods/").sf-sidebar-item-parent #[+fa_fw('chevron-right')] 食べ物
    .sf-sidebar-item-children-wrap
      .d-flex.flex-wrap
        a(href="/foods/#模擬店").sf-sidebar-item-child.flex-auto ・ 模擬店
        a(href="/foods/#喫茶店").sf-sidebar-item-child.flex-auto ・ 喫茶店
        a(href="/foods/#食堂").sf-sidebar-item-child.flex-auto ・ 食堂
    hr
    a(href="/goods/").sf-sidebar-item-small #[+fa_fw('chevron-right')] グッズ
    a(href="/events/invitational_matches/").sf-sidebar-item-small #[+fa_fw('chevron-right')] 招待試合
    a(href="/others/").sf-sidebar-item-small #[+fa_fw('chevron-right')] 地図 ･ 壁紙
    div.social-accounts.d-flex.flex-wrap.justify-content-around.m-3
      a(href="https://twitter.com/suiranfes" target="_blank").btn.btn-info.flex-fill.mr-2
        +fa_fw('twitter', 'fab')
      a(href="https://www.youtube.com/user/suiranfestival" target="_blank").btn.btn-danger.flex-fill.m-0
        +fa_fw('youtube', 'fab')
    button(type="button").sidebar_closer.btn.btn-outline-warning.btn-block.d-lg-none × 閉じる ×