---
title: 一般展示
layout: default
---
.row.mr-0.h-100
  +panteneMenu(false)
  .col-12.col-lg-7.col-xl-8.order-2.py-5.mr-0
    .container-fluid
      h1.p-2 #{page.attributes.title}
      :md
        **高高生の本気の展示をご覧あれ！**

        表から選択してください。展示の詳細が表示されます。

        <span class="maqz maqz-img-wrap-dark float-right">![クラス展示](files/images/pantene720.jpg)</span>
        <span class="maqz maqz-img-wrap-dark float-right">![部活動展示](files/images/pantene2720.jpg)</span>
        <div class="clearfix"></div>

        ## 校内展示 人気投票
        <span class="maqz maqz-img-wrap-dark float-right">![投票のようす](files/images/touhyou720.jpg)</span>
        アーチ側出入口・文系玄関において、どの展示がよかったかを皆様にジャッジしていただく投票を行っています。

        <span class="text-success">部活動展示(緑)</span>、および<span class="text-info">クラス展示(青)</span>にそれぞれ一票ずつ表を投じてください。

        最終的な得票数は後日Twitterやこのページで発表します！

        ### 投票場装飾
        一般展示班による文系玄関の装飾は、今年で2回目を迎えます。今年のモチーフは[**レギスタン広場**](https://goo.gl/maps/ZsYyc24cS3r)。シルクロードの中継地、中央アジア・ウズベキスタンのサマルカンドにあります。

        輝きを意味する「Super Crew」にちなみ、サマルカンド・ブルーに輝く壮麗な建物群が表現されています。「青の都」サマルカンドの良さを引き立てるため、随所に工夫を凝らしているそうです。  

        投票場装飾という一見平凡な名前が付いていますが、それは裏切られるはずです。  
        まるで異世界のような高高の、象徴としてあなたの記憶から忘れられないものになると思います。